#################
# Python Venv   #
#################
venv/

#################
# Django        #
#################
*.log
*.pot
*.pyc
__pycache__
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# - Ignore all migrations files
*/migrations/*

# - But keep __init__.py
!*/migrations/__init__.py

#################
# Other         #
#################
.env
database
.vscode/settings.json