<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pong</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'pong/Style/style.css' %}">
</head>
<body>
	<div style="position:relative;">
    	<canvas id="glcanvas" width="600" height="480"></canvas>
		<div id="overlay">
			<div><span id="score"></span></div>
		</div>
	</div>
	<!-- secure ?-->
	<script>
		var entityVertexShaderPath = "{% static 'pong/Shaders/entity.vs' %}";
		var entityFragmentShaderPath = "{% static 'pong/Shaders/entity.fs' %}";
	</script>

	<script src="{% static 'pong/Sources/Websocket/Websocket.js' %}" type="module"></script>
	<script src="{% static 'pong/Sources/DataOrigin.js' %}" type="module"></script>
	<script src="{% static 'pong/Sources/UI/overlay.js' %}" type="module"></script>
	<script src="{% static 'pong/Sources/Collision/Collision.js' %}" type="module"></script>
	<script src="{% static 'pong/Sources/Collision/Collision_Utils.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Ball.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Event.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Vector.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Vertex.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Paddle.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Mesh.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/Shader.js' %}" type="module"></script>
    <script src="{% static 'pong/Sources/main.js' %}" type="module"></script>
</body>
</html>
