<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pong</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'pong/style/style.css' %}">
</head>
<body>
	<div style="position:relative;">
		<canvas id="glcanvas"></canvas>
		<div id="overlay">
			<div><span id="score"></span></div>
		</div>
	</div>
	
	<!-- secure ?-->
	<script>
		const kEntityVertexShaderPath = "{% static 'pong/shaders/entity.vs' %}";
		const kEntityFragmentShaderPath = "{% static 'pong/shaders/entity.fs' %}";
	</script>

    <script src="{% static 'pong/sources/main.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/websocket/server_api.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/websocket/server_api_handler.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/websocket/objects_state.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/ui/overlay.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/ui/info.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/events/key_listener.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/events/resize.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/utils/class_vec.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/utils/data_origin.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/utils/game_type.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/utils/constants_objects.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/utils/defines.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/utils/debug.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/utils/cookie.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/collisions/collision.js' %}" type="module"></script>
	<script src="{% static 'pong/sources/collisions/collision_utils.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_game.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_ball.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_vertex.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_paddle.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_mesh.js' %}" type="module"></script>
    <script src="{% static 'pong/sources/objects/class_shader.js' %}" type="module"></script>
</body>
</html>
