body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	color: white;
}

canvas {
	border: 1px solid #000; /* Ajoutez une bordure pour visualiser le canvas */
}

#overlay {
	position: absolute;
	left: 10px;
	top: 10px;
}
