@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap');

/* Mini reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* --bs-font-sans-serif: 'Bricolage Grotesque', sans-serif; */
}
